body #myPage {
   
        position: fixed; 
        top: 0; 
        left: 0; 
          
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;

      }


h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  

.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}



.navbar {
    margin-bottom: 0;
    background-color: #192650;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;

    font-family: Montserrat, sans-serif;
}
.navbar-brand img{
    width:52px;
    height:42px;
    border:2px;
}

.navbar-brand a
  { 
      color:whitesmoke;
    padding: 15px;
    margin-bottom: 2px;
    font-size: 32px;
    font-weight: bold;
    font-family: monospace;
   
  }
  .navbar-brand{
    font-size: 50x;
  }

  .sidenav{
      background-image: url("../images/body2.jpg")
  }
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
    


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
  .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
  
  
  
    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
      }
      
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
        background-color:  #192650;
      }
      